.carousel-container{
    width: 100%;
    height: calc(100vh - 13rem);
    background-color: white;
}
.carousel-container .carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}